<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Blogs</title>
    <link rel="stylesheet" href="/views/public/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1 class="fw-bold">All Blogs</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% blogs.forEach(blog => { %>
                    <tr>
                        <td><%= blog.title %></td>
                        <td><%= blog.author.name %></td>
                        <td>
                            <a href="/editblog/<%= blog._id %>" class="btn btn-warning">Edit</a>
                            <form action="/deleteblog/<%= blog._id %>" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>
